[Unit]
Description=Run cpu temperature check every hour
Requires=cpu_temp_check.service

[Timer]
Unit=cpu_temp_check.service
OnCalendar=hourly

[Install]
WantedBy=timers.target
