[Unit]
Description=Check CPU temperature and send alert email if too hot
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/pi/repositories/rpi-commission-scripts
ExecStart=/home/pi/repositories/rpi-commission-scripts/venv/bin/python3 -m cpu_temp_check.cpu_temp_check

[Install]
WantedBy=multi-user.target
